@tailwind base;
@tailwind components;
@tailwind utilities;

.input{ @apply px-3 py-2 rounded-lg border bg-white outline-none focus:ring-2 focus:ring-emerald-500; }
/* .btn{ @apply px-3 py-2 rounded-lg border bg-white hover:bg-gray-50; } */
/* in src/index.css or a global */
.btn { @apply px-3 py-2 rounded border bg-white hover:bg-gray-50 text-sm text-left; }
.btn-primary{ @apply px-3 py-2 rounded-lg bg-emerald-600 text-white hover:bg-emerald-700; }